# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env
!.env.example
!client/.env.example
!server/.env.example

# Build Outputs
dist/
client/dist/
build/

# Uploads
uploads/*
!uploads/.gitkeep

# Logs & System
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
